html, body{
margin: 0mm;
}
.parent
{
    display: flex;
    justify-content: center;
    height: 60px;
    font-size: 40px;
    font-weight: bold;
    

}
.name
{
    marks:initial;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.parent2
{
    
    height: 300px;
    display: flex;
    
}

.child1
{
flex: 2px;
}

.child2
{
flex-direction: row;
flex-direction: column;
background: rgb(242, 244, 247) ;
background-position: center;
width: 370px;
font-size: 30px;
color: rgb(17,17,17);
font-family: Arial, Helvetica, sans-serif;
padding-left: 30px;
padding-top: 25px;
}

.child3
{
flex: 2px;
}

.email
{
    font-size: 12px;
    font-family: ;
    font-weight: bold;
display: flex;
flex-direction: column;
justify-items: start;
margin-top: 15px;
}

.input
{
margin-top: 3px;
margin-bottom: 10px;
border-radius: 3px;
border-color: rgb(221,221,221);
background: rgb(209, 223, 248);

display: flex;
height: 25px;
width: 280px;
border: none;
}

.btn
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width:280px ;
    height:30px ;
    background: rgb(242,203,103);
    border-radius: 3px;
    cursor: pointer;   
}

.inst
{
    display: flex;
    padding-top: 16px;
    color: rgb(79,81,79);
    font-size: 12px;
    flex-direction: column;
    
}

a{
    font-size: 12px;
}
.disc
{
  display: flex;
  padding-top: 3px;
}

.condition
{
  
    
}


